export(EQUAL_encrypt_generate_keys)
export(EQUAL_encrypt_file)
export(EQUAL_decrypt_file)
export(EQUAL_insert_signature_file)
export(EQUAL_verify_signature)
export(EQUAL_perform_file_encryption)
export(EQUAL_perform_file_decryption)
export(EQUAL_encrypt_data)
export(EQUAL_decrypt_data)
export(EQUAL_insert_signature_data)
export(EQUAL_perform_data_encryption)
export(EQUAL_perform_data_decryption)
import(openssl)
import(stringr)
import(uuid)
import(zip)
importFrom("utils", "read.csv", "write.csv")

